*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;;
}
.body{
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
    font-family: 'Montserrat', sans-serif;
}
h1 , h2{
    text-transform: uppercase;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
ul li a{
    text-transform: uppercase;
    padding:15px;
    font-size:1.1rem;
    position:relative;
}
a{
    text-decoration:none;
    color:inherit;
    display:block;
}
p{
    word-spacing: 3px;
    line-height:1.4rem;
}
header , main, footer{
    width: 100%;
}
/*       HEADER STYLING    */
header{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    color:white;
    padding-top:30px;
    height:auto;
    background-image: url(../images/welcome-bg.jpg);
    background-size:cover;
    background-attachment:fixed;
}
header h1{
    font-size:3.7rem;
    letter-spacing: 4px;
}
header ul li{
    display:inline-block;
}
a.active ,  ul li a:hover{
    color:red
}
header > ul li a:not(.lastchild)::after{
    margin-left:10px;
    content:" |";
    color:white;
}
header ul li a:hover::before, a.active::before{
    content:"";
    width:100%;
    height:13px;
    background-image:url("../images/nav-underline.png");
    background-repeat:no-repeat;
    position:absolute;
    bottom:-1px;
    left:auto;
}
header  span.fa{
    display:none;
    position:relative;
    color:white;
    cursor: pointer;
}
header span.fa div{ 
    display:none;
    position:absolute;
    right:0;
    z-index:100;
    width:auto;  
}
span.fa div ul{
    background:hsla(223, 4%, 66%, 0.829);
}
span.fa div ul::after{
    content:none;
}
span.fa:hover div {
    display:block;
}
header .subhead{
    width:60%;
    margin:70px 0;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
header .subhead .subsub{
    width:65%;
}
header .subhead .subsub h2{
    margin:0 auto 20px 0;
    color:red;
    font-size:2.8rem;
}
header .subhead .subsub span{
    font-size:4rem;
    letter-spacing:2px;
    text-transform: uppercase;
}
header .subhead .subsub p{
    font-size:1.2rem;
}
/*    main styling */
main{
    padding-top:20px;
    background-color:#fef8f8;
    display:flex;
    flex-direction: column;
    align-items: center;
}
main .one,main .two,main .three{
    width:60%;
    margin:30px 0;
    background-color:white;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow:0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
main .two .content{
    width: calc(100%/2.2);
}
main .three .content{
    width: calc(100%/3.2);
}
main .content img{
    width:100%;
}
main .content h2{
    font-size:2rem;
    font-weight:700;
}
main .content p, main .content h2, main .content a{
    margin:30px 30px;
}
main .content a{
    padding: 15px;
    /* padding-left: 28px; */
    width: auto;
    background-color: #d54a4a;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    border-left: 13px black solid;
    transition:all .8s ease-in-out;
}
main .content a:hover{
    color:red;
    background-color:black;
}
/*    footer styling */
footer{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url('../images/footer-bg.jpg') left top;
    background-size:cover;
    display:flex;
    justify-content:center;
    width:100%;
    color:white;
    padding-top:50px;
}
footer .cont{
    width:60%;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
}
footer .cont div{
    width:calc(75%/2.1);
    margin:30px 0;
}
footer .cont div.mainmenu{
    width:25%;
}
footer .cont h2{
    margin-bottom:20px;
}
footer .cont div ul li a{
    padding:15px 0 0 0;
    font-weight:600;
}
footer .cont .social .fa{
    padding:15px;
    font-size:1.5rem;
    background:dimgrey;
    margin:10px;
    transition:all .3s ease-in-out;
}
footer .cont .social p{
    margin:15px 0;
}
footer .cont .social .fa:hover{
    background-color: #d54a4a;
}
footer .cont .footend{
    width:100%;
    background: url("../images/copyright-bg.png") no-repeat center bottom;
    background-size:contain;
    height:96px;
    margin:30px 0 0;
    display:flex;
    justify-content:center;
    align-items:center;
}
footer .cont .footend p{
    text-align: center;
}
/*   MEDIA QUARY   */
@media screen and (max-width:1200px) {
    header{width:100%}
    header>ul.nav{
        display:none;
    } 
    header span.fa {
        display:block;
    }
    header .subhead{
        width:95%;
        flex-direction: column;
        align-items:flex-start;
    }
    header .subhead .subsub{
        width:100%;
    }
    header .subhead .subsub span{
        font-size:3.1rem;
    }
    header .subhead img{
        width:100%;
    }
    main .one, main .two, main .three{
        flex-direction: column;
        width:95%;
    }
    main .two .content, main .three .content{
        width:95%
    }
    footer .cont{
        width:95%;
        flex-direction:column;
    }
    footer .cont div, footer .cont div.mainmenu{
        width:98%;
    }
}